/**
  * Body
  */

body {
  background: #000;
  padding-top: 2%;
  padding-bottom: 2%;
}

body,
p,
h1,
h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.55;
  text-align: center;
  color: #E5DDC8;
  margin-left: 5%;
  margin-right: 5%;
}

/**
  * Headers
  */
h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 19px;
}

h2 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 18px;
}

p {
  font-size: 16px;
}

#p404 img {
  width: 100px;
  min-width: 100px;
}

/**
  * 404 image
  */
img {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 300px;
}

/**
  * Hyperlink color
  */
a {
  color: #1b95e0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
  * Reduce text size
  */
@media all and (min-width:768px) {
  h1 {
    font-size: 21px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}


.animate {
  animation-duration: 0.75s;
  animation-delay: 0.2s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}

/* Spin In */
.animate.spin {
  animation-name: animate-spin;
  transform-style: preserve-3d;
  perspective: 1000px;
}

@keyframes animate-spin {
  0% {
    opacity: 0;
    transform: rotateY(-120deg) scale(0.9, .9);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
  }
}